@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
border:none;
outline:none;
font-family:'Poppins',sans-serif;
}

html{
font-size:62.5%;
}

body{
background:black;
color:white;
}

/* HEADER */

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:1.5rem 9%;
display:flex;
justify-content:space-between;
align-items:center;
background:black;
z-index:100;
}

.logo{
font-size:3rem;
color:#b74b4b;
font-weight:800;
}

nav a{
font-size:1.8rem;
color:white;
margin-left:4rem;
font-weight:500;
transition:0.3s;
border-bottom:3px solid transparent;
}

nav a:hover,
nav a.active{
color:#b74b4b;
border-bottom:3px solid #b74b4b;
}

/* SECTION */

section{
min-height:100vh;
padding:10rem 9% 5rem;
}
.education-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:3rem;
}

.edu-card{
background:#111;
padding:2.5rem;
width:300px;
border-radius:1rem;
border:2px solid #b74b4b;
text-align:center;
transition:0.3s;
}

.edu-card h3{
font-size:2rem;
margin-bottom:1rem;
}

.edu-card p{
font-size:1.4rem;
margin:0.4rem 0;
}

.edu-card:hover{
transform:scale(1.05);
}

/* HOME */

.home{
display:flex;
justify-content:space-between;
align-items:center;
min-height:100vh;
width:100%;
padding:0 9%;
}

.home-content h1{
font-size:5rem;
}
.home-content{
max-width:600px;
}
.home-content h1{
font-size:6rem;
}

.home-content h3{
font-size:3.2rem;
}

span{
color:#b74b4b;
}

.home-content h3{
font-size:3rem;
margin:1rem 0;
}

.home-content p{
font-size:1.6rem;
max-width:600px;
margin:auto;
}

/* SOCIAL ICONS */

.social-icons a{
display:inline-flex;
justify-content:center;
align-items:center;
width:4rem;
height:4rem;
border:0.2rem solid #b74b4b;
font-size:2rem;
border-radius:50%;
margin:3rem 1rem;
color:#b74b4b;
transition:0.3s;
}

.social-icons a:hover{
background:#b74b4b;
color:black;
transform:scale(1.2);
}

/* BUTTON */

.btn{
display:inline-block;
padding:1rem 3rem;
border-radius:4rem;
font-size:1.6rem;
color:#b74b4b;
border:2px solid #b74b4b;
transition:0.3s;
}

.btn:hover{
background:#b74b4b;
color:black;
}

/* HEADINGS */

.heading{
font-size:4rem;
text-align:center;
margin-bottom:5rem;
}

/* SKILLS */

.skills-container{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:2rem;
max-width:800px;
margin:auto;
}
.skill-box{
background:#111;
padding:2rem;
width:100%;
border-radius:1rem;
}

.skill-box:hover{
transform:scale(1.05);
}

/* PROJECTS */

#projects {
  padding: 80px 10%;
  text-align: center;
}

.section-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.section-title span {
  color: #ff4d5a;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.project-card {
  background: #111;
  border: 2px solid #ff4d5a;
  border-radius: 15px;
  width: 350px;
  padding: 30px;
  text-align: left;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #ff4d5a;
}

.project-card h3 {
  color: white;
  margin-bottom: 10px;
}

.project-desc {
  font-size: 14px;
  margin-bottom: 15px;
}

.project-card ul {
  padding-left: 18px;
  margin-bottom: 15px;
}

.project-card ul li {
  margin-bottom: 6px;
}

.tech {
  font-size: 14px;
  color: #ff4d5a;
}

/* CONTACT */

.contact form{
display:flex;
flex-direction:column;
max-width:500px;
margin:auto;
gap:1.5rem;
}

.contact input,
.contact textarea{
padding:1rem;
border-radius:0.5rem;
}
  .home-img{
display:flex;
justify-content:center;
align-items:center;
}

.circle{
width:280px;
height:280px;
border-radius:50%;
border:8px solid #b74b4b;
}
